= content_for :head do
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

%h2 俳句
= render partial: "/words/detail", locals: { haiku_set: @haiku_set }

= render partial: "words/comment", locals: { haiku_set: @haiku_set }
