= content_for :head do
  = display_meta_tags keywords:[word1.text, word2.text, word3.text]

.important
  = word1.text
.important
  　　#{ word2.text }
.important
  　　　　#{ word3.text }

.main
  %table.table.table-striped.table-hover
    %tr
      %td.center
        = image_tag word1.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word2.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word3.avatar.url(:medium)
PV : #{pv}
%br

= link_to 'カッパだね', "/goods/yes/#{word1.id}-#{word2.id}-#{word3.id}?hash=#{SecureRandom.urlsafe_base64(6)}", remote: true, class: "good btn btn-success"
- goods = Good.where("word1 =? AND word2 = ? AND word3 = ?", word1.id, word2.id, word3.id)
- if goods.count > 0
  %br
  #{goods.first.value} かっぱ
%br
