- word1 = Word.find haiku_set.word1
- word2 = Word.find haiku_set.word2
- word3 = Word.find haiku_set.word3

= content_for :head do
  = display_meta_tags keywords:[word1.text, word2.text, word3.text]

= render partial: "/words/haiku", locals: {word1: word1, word2: word2, word3: word3}

.main
  %table.table.table-striped.table-hover
    %tr
      %td.center
        = image_tag word1.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word2.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word3.avatar.url(:medium)

  - goods = Good.where("word1 =? AND word2 = ? AND word3 = ?", word1.id, word2.id, word3.id)
  - kappa = goods.present? ? goods.first.value : 0

.kappa_data
  %table.table.table-striped.table-hover
    %tr
      %td
        PV
        %span.badge #{haiku_set.pv}
      %td
        かっぱ
        %span.badge #{kappa}
      %td
        コメント
        %span.badge #{haiku_set.comments.count}

.kappa_dane
  = link_to 'カッパだね', "/goods/yes/#{word1.id}-#{word2.id}-#{word3.id}?hash=#{SecureRandom.urlsafe_base64(6)}", remote: true, class: "good btn btn-success"


%h1 この俳句のコメント

- if haiku_set.comments.present?
  %table.table.table-striped.table-hover
    %tr
      %th 名前
      %th コメント
    - haiku_set.comments.each do |comment|
      %tr
        %td= comment.name
        %td= comment.body
- else
  コメントなど存在しない

= link_to ' 他の俳句を見る', "/haiku/#{SecureRandom.urlsafe_base64(6)}", class: 'btn btn-info'

%h1 コメントの入力

= form_for Comment.new, html: { multipart: true, class: 'form form-horizontal'} do |f|
  .form-group
    %label.col-sm-2.control-label 名前
    .col-sm-5
      = f.text_field :name, class: 'form-control', value: '名無しのカッパ'
  .form-group
    %label.col-sm-2.control-label 名前
    .col-sm-5
      = f.text_field :body, class: 'form-control'
      = f.hidden_field :haiku_set_id, value: haiku_set.id
    = f.submit '送信', class: 'btn btn-success'


