- word1 = Word.find haiku_set.word1
- word2 = Word.find haiku_set.word2
- word3 = Word.find haiku_set.word3

= content_for :head do
  = display_meta_tags keywords:[word1.text, word2.text, word3.text]

= render partial: "/words/haiku", locals: {word1: word1, word2: word2, word3: word3}

.main
  %table.table.table-striped.table-hover
    %tr
      %td.center
        = link_to word_path(word1) do
          = image_tag word1.avatar.url(:medium), alt: word1.text
    %tr
      %td.center
        = link_to word_path(word2) do
          = image_tag word2.avatar.url(:medium), alt: word2.text
    %tr
      %td.center
        = link_to word_path(word3) do
          = image_tag word3.avatar.url(:medium), alt: word3.text
.kappa_data
  %table.table.table-striped.table-hover
    %tr
      %td
        PV
        %span.badge #{haiku_set.pv}
      %td
        コメント
        %span.badge #{haiku_set.comments.count}
※ この俳句は #{ @haiku_set.id }番目に作られた俳句です。
%br
※ この俳句が作成された日： #{ @haiku_set.created_at.strftime("%Y年%m月%d日") }

.kappa_dane
= render partial: "/words/good", locals: {id_list: [word1.id, word2.id, word3.id]}

