%h2 画像追加
= form_for @word, html: { multipart: true, class: 'form form-horizontal'} do |f|
  .form-group
    %label.col-sm-2.control-label 文章
    .col-sm-5
      = f.text_field :text, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label 画像
    .col-sm-10
      = f.file_field :avatar, class: 'file'
  .form-group
    %label.col-sm-2.control-label 種別
    .col-sm-10
      .radio
        = f.radio_button :number, 5
        %label 5文字画像
        %br
        = f.radio_button :number, 7 
        %label 7文字画像
    = f.submit '送信', class: 'btn btn-primary'
%br
※反映までは若干の時間がかかる事があります。
%br
※カッパが画像を確認し、承認されれば反映されます。
