.main
  - id_lists.each do |id_list|
    - word1 = Word.find_by_id id_list.first
    - word2 = Word.find_by_id id_list[1]
    - word3 = Word.find_by_id id_list.last
    - next if word1.blank? || word2.blank? || word3.blank?
    = render partial: "/words/haiku", locals: {word1: word1, word2: word2, word3: word3}
    %table.table.table-striped.table-hover
      %tr
        %td.center
          = link_to word_path(word1) do
            = image_tag word1.avatar.url(:medium), alt: word1.text
          %br
          = word1.text
      %tr
        %td.center
          = link_to word_path(word2) do
            = image_tag word2.avatar.url(:medium), alt: word2.text
          %br
          = word2.text
      %tr
        %td.center
          = link_to word_path(word3) do
            = image_tag word3.avatar.url(:medium), alt: word3.text
          %br
          = word3.text
      %tr
        %td.center
          = link_to 'ツィート', 'https://twitter.com/share', class: 'twitter-share-button', data: { url: root_url, text: "セリフ画像で俳句を自動生成  #かっぱ俳句", lang: "ja" }
          :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %tr
        %td.center
          上の俳句を
          = render partial: "/words/good", locals: {id_list: id_list}
          %br
          = link_to '詳細ページ', haiku_set_path(id_list.join('-'))
