- word1 = Word.find @res[0]
- word2 = Word.find @res[1]
- word3 = Word.find @res[2]
= content_for :head do
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

%h2 ランダム俳句
= link_to "他の俳句", "/haiku/#{SecureRandom.urlsafe_base64(6)}", class: 'btn btn-info'

= render partial: "/words/detail", locals: { word1: word1, word2: word2, word3: word3, pv: @pv}
