- word1 = Word.find @res[0]
- word2 = Word.find @res[1]
- word3 = Word.find @res[2]
= content_for :head do
  = display_meta_tags keywords:[word1.text, word2.text, word3.text]
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

%h2 ランダム俳句
= link_to "他の俳句", "/haiku/#{SecureRandom.urlsafe_base64(6)}", class: 'btn btn-info'

.main
  %table.table.table-striped.table-hover
    %tr
      %td.center
        = image_tag word1.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word2.avatar.url(:medium)
    %tr
      %td.center
        = image_tag word3.avatar.url(:medium)
PV : #{@pv}
%br

= link_to 'カッパだね', "/goods/yes/#{@res.join('-')}", remote: true, class: "good btn btn-success"
- goods = Good.where("word1 =? AND word2 = ? AND word3 = ?", @res[0], @res[1], @res[2])
- if goods.count > 0
  %br
  #{goods.first.value} かっぱ
%br

