= content_for :head do
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

%h2 ランダム俳句一覧
.main
  %table.table.table-striped.table-hover
    - @id_lists.each do |id_list|
      %tr
        - id_list.each do |id|
          %td
            - word = Word.find id
            = image_tag word.avatar.url(:medium)
            %br
            = word.text
        %td
          = link_to 'カッパだね', "/goods/yes/#{id_list.join('-')}", remote: true, class: "good btn btn-success"
          - goods = Good.where("word1 =? AND word2 = ? AND word3 = ?", id_list[0], id_list[1], id_list[2])
          - if goods.count > 0
            %br
            #{goods.first.value} かっぱ


.input_form
  = render '/words/form'
