= content_for :head do
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

- if request.smart_phone?
  スマホの人は
  = link_to 'こちら', "/haiku/#{SecureRandom.urlsafe_base64(6)}"
  を見るべし

%h2 ランダム俳句たくさん表示
良いと思った俳句には「カッパだね」をすると幸せな気分になれます。
= link_to '人気順を見る', goods_path, class: 'btn btn-info'

= render partial: '/words/list', locals: { id_lists: @id_lists }


.input_form
  = render '/words/form'
