= content_for :head do
  = stylesheet_link_tag    "words", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag 'words'

%h2 かっぱ順
「カッパだね」を多くされた順に表示してます。

= render partial: '/words/list', locals: { id_lists: @id_lists }

.input_form
  = render '/words/form'
