!!! 5
%html
  %head
    = render partial: 'layouts/meta_tags'
    %title カッパの俳句
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = yield :head
  %body
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => root_path} カッパの俳句
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li= link_to '適当な一覧', root_path
          %li= link_to '人気順', goods_path
          %li= link_to 'ランダム', "/haiku/#{SecureRandom.urlsafe_base64(6)}"
    .container
      /.row
      /  /.span5
      /  /  = render 'commons/sidebar'
      /  /.span7
      = yield
    .footer_add
      = render "/commons/google_analytics"
      :javascript
        var nend_params = {"media":27178,"site":152443,"spot":411511,"type":1,"oriented":1};
      %script{ type: "text/javascript", src: "http://js1.nend.net/js/nendAdLoader.js" }
